<%- include('partials/header'); -%>
<h1>Αρχική</h1>

<p><%=message%></p>

<% posts.forEach(post => {  %>
   
    
    <h2>
            <%= post.title%>
    </h2>
          <p>
            <%= post.postbody.substring(0,100)%> <a href="posts/<%=post.title%>">Διαβάστε Περισσότερα</a>
          </p>
 <% }) %>
<%- include('partials/footer'); -%>